* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading and Logo */

.heading {
    height: 50px;
    width: 100%;
    display: grid;
    place-items: center;
}

.logo {
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Game Area */
/* Game Board */

.game-area {
    height: 60vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.game-board {
    background-color: green;
    height: 500px;
    width: 60%;
    border: solid 5px black;
    border-radius: 10px;
}

/* Number Blocks */

.number-block-area {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.number-block {
    background-color: bisque;
    border: solid 3px black;
    padding: 80px 30px;
    font-size: 300%;
    display: inline;
    position: relative;
}

.fa-regular {
    height: 50px;
    width: 50px;
    color: black;
}