/* Google Fonts: Mouse Memoirs and Oswald */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

/* Heading and Logo */

.heading {
    height: 75px;
    width: 100%;
    background-color: gray;
}

header a {
    text-decoration: none;
}

.logo {
    font-size: 400%;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

h2, h3 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 200%;
    padding-bottom: 10px;
}

h2 {
    color: red;
    text-transform: uppercase;
}

.fa-dice {
    color: white;
}

/* Nav */

#htplay {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    float: right;
    position: relative;
    bottom: 55px;
    right: 2%;
}

#htplay:hover {
    background-color: black;
} 

/* Game Area */
/* Game Board */

.game-area {
    height: 550px;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.game-board {
    background-color: green;
    height: 500px;
    width: 60%;
    border: solid 5px black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Number Blocks */

.number-block-area {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.number-block {
    background-color: bisque;
    border: solid 3px black;
    padding: 80px 30px;
    font-size: 300%;
}

.invisible {
    visibility: hidden;
}

/* Dice Icons */

.dice-area {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#dice1, #dice2 {
    font-size: 100px;
    color: white;
    padding-top: 50px;
}

#dice1 {
    margin-right: 10%;
}

/* Buttons */

.button-area {
    height: 10%;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    top: 25px;
}

button {
    padding: 15px 50px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
}

#roll {
    background-color: gray;
}

#roll:hover {
    background-color: red;
}


#reset {
    background-color: red;
    margin-top: 10px;
}

#reset:hover {
    background-color: yellow;
}

.try-again {
    background-color: gray;
    margin-top: 20px;
}

.try-again:hover {
    background-color: red;
}

.close {
    background-color: gray;
    margin-top: 20px;
}

.close:hover {
    background-color: red;
}

/* Message Board - Game Bust, Game Won and Alerts */

.message-board {
    height: 200px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.521);
    display: grid;
    place-items: center;
    position: relative;
    bottom: 275px;
}

.game-bust {
    background-color: white;
    border: solid 3px red;
    font-size: large;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    padding: 20px;
}

.game-won {
    background-color: white;
    border: solid 3px red;
    font-size: large;
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    padding: 20px;
}

.alert1, .alert2 {
    background-color: white;
    border: solid 3px red;
    font-size: large;
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    padding: 20px;
}

/* How to Play Section */

.how-to-play {
    text-align: center;
    padding: 10px 20% 30px 20%;
    font-size: large;
}

.how-to-play li {
    list-style: none;
}

/* Footer */

footer {
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: gray;
    font-size: large;
    font-weight: bold;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;

}

/*  Media queries */

/* For larger to medium screen size from 1400px wide*/

@media screen and (max-width: 1400px) {

    .number-block {
        padding: 80px 19px;
        font-size: 200%;
    }

}

/* For medium screen sizes from 950px wide*/

@media screen and (max-width: 950px) {

    .number-block {
        padding: 80px 10px;
        font-size: 200%;
    }

    .game-won, .alert2 {
        width: 80%;
    }

}

/* For small screen sizes from 650px wide*/

@media screen and (max-width: 650px) {

    .heading {
        height: 150px;
    }

    #htplay {
        float: none;
        bottom: 0;
        right: 0;
        top: 25px;
    }

    nav {
        text-align: center;
    }

    .number-block {
        padding: 80px 4px;
        font-size: 200%;
    }

    .number-block-area {
        height: 30%;
    }

    .dice-area {
        position: relative;
        top: 20px;
    }

    .button-area {
        top: 60px;
    }

}

/* For very small screen sizes from 500px wide*/

@media screen and (max-width: 500px) {

    .game-area {
        height: 700px;
    }

    .game-board {
        height: 650px;
    }

    .number-block-area {
        height: 20%;
    }

    .dice-area {
        top: 200px;
    }

    .button-area {
        top: 180px;
    }

    .game-bust, .game-won, .alert1, .alert2 {
        font-size: small;
        padding: 5px;
    }

    .try-again, .close {
        padding: 15px 20px;
        margin-top: 5px;
    }
    
    #num1, #num2, #num3, #num4, #num5 {
        position: relative;
        left: 65px;
    }

    #num6, #num7, #num8, #num9 {
        position: relative;
        top: 165px;
        right: 75px;
    }

}

/* For xx-small screen sizes from 328px wide*/

@media screen and (max-width: 328px) {
    
    .heading {
        height: 225px;
    }

    #dice1, #dice2 {
        font-size: 75px;
    }

    .game-bust, .alert1 {
        width: 80%;
    }

    .how-to-play {
        padding: 10px 5% 30px 5%;
    }

    footer {
        height: 90px;
    }

}