* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading and Logo */

.heading {
    height: 75px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: gray;
}

.logo {
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fa-dice {
    color: white;
}

/* Game Area */
/* Game Board */

.game-area {
    height: 60vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.game-board {
    background-color: green;
    height: 500px;
    width: 60%;
    border: solid 5px black;
    border-radius: 10px;
}

/* Number Blocks */

.number-block-area {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.number-block {
    background-color: bisque;
    border: solid 3px black;
    padding: 80px 30px;
    font-size: 300%;
    display: inline;
    position: relative;
}

.invisible {
    visibility: hidden;
}

/* Dice Icons */

#dice1, #dice2 {
    font-size: 100px;
    color: white;
    position: relative;
    left: 10%;
    top: 15%;
    margin-right: 10%;
}

/* Buttons */

button {
    padding: 25px 50px;
    font-weight: bold;
    color: white;
    float: right;
    position: relative;
    top: 20%;
    right: 10%;
    margin-left: 10%;
    border-radius: 5px;
}

#roll {
    background-color: gray;
}

#roll:hover {
    background-color: red;
}

#reset {
    background-color: red;
}

#reset:hover {
    background-color: yellow;
}

.try-again {
    background-color: gray;
}

.try-again:hover {
    background-color: red;
}

/* How to Play Section */

.how-to-play {
    text-align: center;
    padding: 10px 0 30px 0;
    font-size: large;
    position: relative;
    bottom: 100px;
}

/* Footer */

footer {
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: gray;
    font-size: large;
    font-weight: bold;
}

.footer {
    padding-top: 15px;
}

/* Message Board */

.message-board {
    height: 200px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.521);
    display: grid;
    place-items: center;
    position: relative;
    bottom: 300px;
}

/* Game bust */

.game-bust {
    background-color: white;
    border: solid 3px red;
    font-size: large;
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    padding: 20px;
}

.game-won {
    background-color: white;
    border: solid 3px red;
    font-size: large;
    display: grid;
    place-items: center;
    position: absolute;
    padding: 20px;
}